@import url(_grid.scss);
@import url(_operators.scss);
@import url(Fields/_aInput.scss);
@import url(Fields/_aButtons.scss);
@import url(Fields/_aSelect.scss);
@import url(Login/_login.scss);
@import url(Fields/_aSwitch.scss);
@import url(Fields/_Menu.scss);

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  
  /* Container principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 5%;
  }
  
  .flex {
    display: flex;
  }

  /*Listagem*/
  .list {
    display: flex;
    padding: 2% 1% 2% 3%;
  }

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }

  /* Conteúdo principal */
  .content {
    width: 98%;
    padding: 20px;
    background-color: #252525;
  }
}
