@import url(_grid.scss);
@import url(_operators.scss);
@import url(Fields/_aInput.scss);
@import url(Fields/_aButtons.scss);
@import url(Fields/_aSelect.scss);
@import url(Login/_login.scss);
@import url(Fields/_aSwitch.scss);

body {
  width: 99%;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff7c2;

  /* Container principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }

  /* Conteúdo principal */
  .content {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
  }

  /* Estilos para layout em tela grande */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
    .content {
      width: 60%;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 45px;
  height: 100%;
  background: rgba(244, 205, 54, 0.7098039216);
  border-radius: 0px 10px 0px 0px;
  padding: 10px;
  transition: all 0.5s ease-in;

  .routes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .menuItem {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;

      .item {
        display: none;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: black;

        &:hover {
          opacity: 100%;
        }
      }
    }
  }

  &:hover {
    width: 10%;

    .menuItem {
      .item {
        display: block;
      }
    }
  }
}
